<tr ng-class="{'table-active': user.selected}">
    <td>
        <input type="checkbox" ng-model="user.selected">
    </td>
    <td>
        {{user.id}}
    </td>
    <td>
        <span ng-show="!user.edited">
            {{user.name}}
        </span>
        <input type="text" class="form-control" ng-model="user.name" ng-show="user.edited">
    </td>
    <td>
        <span ng-show="!user.edited">
            {{user.surname}}
        </span>
        <input type="text" class="form-control" ng-model="user.surname" ng-show="user.edited">
    </td>
    <td>
        <span ng-show="!user.edited">
            {{user.birthDate}}
        </span>
        <input type="text" class="form-control" ng-model="user.birthDate" ng-show="user.edited">
    </td>
    <td>
        <span ng-show="!user.edited">
            {{user.mobile}}
        </span>
        <input type="text" class="form-control" ng-model="user.mobile" ng-show="user.edited">
    </td>
    <td>
        <span ng-show="!user.edited">
            {{user.address}}
        </span>
        <input type="text" class="form-control" ng-model="user.address" ng-show="user.edited">
    </td>
    <td>
        <span ng-show="!user.edited">
            <!-- TODO: add click events on these buttons -->
            <button role="button" class="btn btn-primary" ng-click="beginEdit()">Edit</button>
            <button role="button" class="btn btn-danger" ng-click="remove()">Remove</button>
        </span>
        <span ng-show="user.edited">
            <!-- TODO: add click events on these buttons -->
            <button role="button" class="btn btn-primary" ng-click="save()">Save</button>
            <button role="button" class="btn btn-secondary" ng-click="cancelEdit()">Cancel</button>
        </span>
    </td>
</tr>